xterm.termName: xterm-16color

Xcursor.size: 16

xterm*borderWidth: 0
xterm*boldMode: false
xterm*allowBoldFonts: false
xterm*faceName: EnvyCodeR:size=9:antialias=false
xterm*boldFont: EnvyCodeR:size=9:antialias=false

! sunburst color scheme
*background: #0c0c0c
*foreground: #9d999e
! Black + DarkGrey
*color0:  #0c0c0c
*color8:  #5f5a60
! DarkRed + Red
*color1: #7f5a2f
*color9: #9b703f
! DarkGreen + Green
*color2: #698857
*color10: #8f9d6a
! DarkYellow + Yellow
*color3: #cda869
*color11: #e9c062
! DarkBlue + Blue
*color4: #5573a3
*color12: #5d90ba
! DarkMagenta + Magenta
*color5: #7f5a2f
*color13: #9b703f
!DarkCyan + Cyan
*color6:  #5573a3
*color14: #5d90ba
! LightGrey + White
*color7:  #5f5a60
*color15: #9d999e
