xterm.termName: xterm-16color

Xcursor.size: 16

xterm*borderWidth: 0
xterm*boldMode: false
xterm*allowBoldFonts: false
!xterm*faceName: EnvyCodeR:size=9:antialias=false
!xterm.font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-iso10646-1
xterm*faceName: xos4 Terminus:style=Regular:size=8:antialias=false
xterm*boldFont: EnvyCodeR:size=9:antialias=false

! sunburst color scheme
*background: #0c0c0c
*foreground: #9d999e
! Black + DarkGrey
*color0:  #0c0c0c
*color8:  #5f5a60
! DarkRed + Red
*color1: #5f5a60
*color9: #9d999e
! DarkGreen + Green
*color2: #5f819d
*color10: #81a2be
! DarkYellow + Yellow
*color3: #cda869
*color11: #cfb36e
! DarkBlue + Blue
*color4: #5f819d
*color12: #81a2be
! DarkMagenta + Magenta
*color5: #5f5a60
*color13: #9d999e
!DarkCyan + Cyan
*color6:  #5573a3
*color14: #5d90ba
! LightGrey + White
*color7:  #5f5a60
*color15: #9d999e
